html {
	width: 100%;
}

/*Header*/

nav{
	background-color: #6d646b;
}


a.nav-link{
	font-family: 'Chivo Mono',arial;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

a.nav-link:link, a.nav-link:visited{
	color: white;
}

a.nav-link:hover{
	color:gray;
}
.navbar-toggler-icon .bi-border-width{
	color: white;
}

.navbar-toggler-icon .bi-border-width:hover{
	color: gray;
}

/*Termina header*/

/*Body*/
body{
	margin: 0px;
	padding: 0px;
	min-height: 100%;	
	width: 100%;
	background: rgb(144,127,127);
	background: linear-gradient(158deg, rgba(144,127,127,1) 14%, rgba(158,146,146,1) 47%, rgba(130,116,121,1) 97%);
}

/*Termina body*/

/*Formato contenido*/

.content-container{
	position: relative;
	padding: 0;
	margin: 0;
	width: auto;
	min-height: 87vh;
	overflow-y: hidden;
	background-color: transparent;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.info, .main-content{
	max-width: 850px;
	width: 90%;
	height: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 1%;
	background: #8c7c7c;
	
}

.title,.description{
	background-color:  	#8c7c7c;
	position: relative;
	display: inline-block;
	width: fit-content;
	padding: 3px;
}

.description{
	color: rgb(54, 51, 51);
	font-family: 'Noto Sans JP', sans-serif;
}

.main-content{
	text-align: center;
	overflow-x: auto;
}

@media (max-width:900px){
	.main-content{
		width: 90%;
	}
}

.content-element, .title{
	margin: 10px 0px;
}

.title{
	font-size: 2rem;
	font-family: 'Chivo Mono',arial;
	color: white;
}

/*Termina formato contenido*/

/*footer*/
footer{
	/*position: absolute;
	bottom: 0;*/
	margin-top: auto;
	background-color: #5e5859;
	/*width: 100%;*/
}

.ft-elmnt div{
	padding: 0.5%;
}

.social-link, .social-link:hover{
	text-decoration: none;
}

.social-link,.ft-elmnt-cont{
	color: #5e594c;
	font-size: 1rem;
	font-family: "Space Mono", monospace;
}

.social-link:hover{
	color: black;
	background-color: white;
	padding: 1%;
	border-radius: 5px 5px 20px 5px;
}

.social-icon{
	padding-left: 5px;
	color: rgb(71, 61, 61) !important;
}

.copy-row{
	background-color: #3f3c3d;
	padding: 1%;
	text-align: center;
}

.ft-elmnt{
	padding: 10px;
}

.ft-elmnt-cont,.ft-elmnt-cont-h{
	color: white;
}

.ft-elmnt-cont-h{
	font-family: 'Chivo Mono',arial;
	font-size: 1rem;
	font-weight: bold;
}

.escudo_buap{
	height: 100px;
}
/*Termina footer*/

/*css profesores*/

details.det-prof {
	color: white;
	width: 80%;
  	margin: 0 auto ;
  	margin-bottom: 1rem;
  	background: #282828;
  	box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
  	border-radius: 5px;
  	overflow: hidden;
}

summary.gen-prof {
  	padding: 1rem;
  	display: block;
  	background: #333;
  	padding-left: 2.2rem;
  	position: relative;
  	cursor: pointer;
}

summary.gen-prof:before {
  	content: '';
  	border-width: .4rem;
  	border-style: solid;
  	border-color: transparent transparent transparent #fff;
  	position: absolute;
  	top: 1.3rem;
  	left: 1rem;
  	transform: rotate(0);
  	transform-origin: .2rem 50%;
  	transition: .25s transform ease;
}

summary.gen-prof:hover {
	background-color: #4a4e69;
}

details.det-prof[open] > summary:before {
  	transform: rotate(90deg);
}

.profesor-card{
	font-family: 'Montserrat', sans-serif;
	display: flex;
	flex-direction: column;
	width: 90%;
	/*border: 1px solid white;*/
	border-radius: 5px;
	background: linear-gradient(to left, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	/*background-image: linear-gradient( 57.4deg,  rgba(249,206,183,1) 4.6%, rgba(234,174,202,1) 26%, rgba(210,182,226,1) 49.1%, rgba(173,209,242,1) 86.5% );*/
	/*background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );*/
	/*background-image: linear-gradient( 109.6deg,  rgba(209,0,116,1) 11.2%, rgba(110,44,107,1) 91.1% );*/
	/*background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );*/
	/*background-image: linear-gradient( 132.6deg,  rgba(71,139,214,1) 23.3%, rgba(37,216,211,1) 84.7% );*/
	color: black;
	font-weight: bold;
	padding: 15px;
	text-align: left;
	margin: 15px;
}

.prof-info{
	display: inline-flex;
}

.prof-t{
	font-family: 'Chivo Mono',arial;
	margin-right: 5px;
}

@media (max-width:500px){
	.profesor-card{
		width: 95%;
		overflow-x: auto;
	}
}

/*Termina profesores*/

/*CSS Más información*/

details{
	font-family: 'Noto Sans JP', sans-serif;
}

details + details {
	margin-top: 2rem;
}

summary {
	list-style: none;
	font-family: 'Chivo Mono',arial;
	text-align: left;
}

details.det-info div {
	border-left: 2px solid #fff;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 1.5em;
	text-align: justify;
}

summary.sum-info, summary.sum-info + div{
	background-color: #5e5a65;
	color: white;
}

summary.sum-info + div{
	box-sizing: inherit;
}

summary::-webkit-details-marker {
	display: none;
}

summary.sum-info {
	border: 2px solid #fff;
	padding: .75em 1em;
	cursor: pointer;
	position: relative;
	padding-left: calc(1.75rem + .75rem + .75rem);
}

summary.sum-info:before {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: .75rem;
	content: "↓";
	width: 1.75rem;
	height: 1.75rem;
	background-color: #fff;
	color: black;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

details[open] summary.sum-info {
	background-color: #eee;
	color: black;
}

details[open] summary.sum-info:before {
	content: "↑";
	background-color: black;
	color: white;
}

summary.sum-info:hover {
	background-color: #eee;
	color: black;
	border: 2px solid #59747b;
}

.tutorialImg {
	margin-top: 2rem;
	max-width: 90%;
	align-self: center;
}

/*Termina Más información*/

/*Listas de la seccion mas informacion */

.listaFAQ ul {
	list-style-type: none;
}

.listaFAQ li {
	padding: 0.5rem 1.5rem 1rem;
	border-radius: 1.5rem;
	background-color: rgb(42, 41, 40);
}

.listaFAQ li + li {
	margin-top: 1rem;
}

/*Tutorial para encontrar a tutor*/

.nav-options{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	
}

.tutorial-option{
	/*background-color: #023047; */
	color: white;
	border: 3px solid #ffb703;
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	font-weight: bold;
}

#main-1,#main-2{
	display: none;
}

.tutorial-option-active:hover{
	border-color: #fb8500;
	color: #219ebc;
	/*color: #8ecae6;*/
	font-weight: bold;
}

.step{
	color: white;
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.step-indication, .step-description, .link-description{
	position: relative;
}

.step-indication,.sub-step-indication{
	list-style-position: inside;
}

.step-indication{
	font-weight: bold;
}

.sub-step-indication{
	list-style-type: lower-roman;
}

.step-description{
	text-align: justify;
}

.link-description {
	margin-top: 9px;
	padding: 12px;
	text-align: center;
	background-color: #564e4e;
	color: #e2ebee;
	text-decoration: none;
	border-radius: 9px;
}

.link-description:hover {
	color: #bfc8cb;
}

.link-inpage{
	text-decoration: none;
	color: rgb(164, 164, 169);
	font-weight: bold;
}

/*Termina tutoria*/

.top-bar {
	padding: 0.5rem 0;
	/*display: flex; */
}

.socials-bar {
	float: right; 
}

.navbar {
	padding-left: 0.5rem;
}

#navbar {
	min-height: 85px;
}

.links-directorio {
	display: flex;
	flex-direction: column;
	max-width: 1200px;
	width: 90%;
	padding: 1rem 1rem 1rem 2rem;
	margin-top: 1rem;
}

.links-directorio ul {
	padding: 1rem;
}

.links-directorio a { 
	text-decoration: none;
	color: #4a4e69;
}

.links-directorio li {
	margin-top: 1.2rem;
	margin-left: 30%;
	margin-right: 30%;
	max-width: 40%;
}

.card {
	background-color: #a1afb4 !important;
}