/*Header*/

.header{

}

nav{
	background-color: #0d1b2a;
}


a.nav-link{
	text-emphasis: none;
}

a.nav-link:link, a.nav-link:visited{
	color: white;
}

a.nav-link:hover{
	color:gray;
}
.navbar-toggler-icon .bi-border-width{
	color: white;
}

.navbar-toggler-icon .bi-border-width:hover{
	color: gray;
}

/*Termina header*/

/*Body*/
body{
	margin: 0px;
	padding: 0px;
}

/*Termina body*/

/*footer*/
footer{
	position: absolute;
	bottom: 0;
	background-color: #0d1b2a;
	width: 100%;
}

span > a,a:hover{
	text-decoration: none;
}

a:hover{
	color:red;
	text-decoration: underline;
}

.ft-elmnt div{
	padding: 0.5%;
}

.social-link, .social-link:hover{
	text-decoration: none;
}

.social-link{
	color: white;
	font-size: 1rem;
	font-family: "Space Mono", monospace;
}

.social-link:hover{
	color: black;
	background-color: white;
	padding: 1%;
	border-radius: 5px 5px 20px 5px;
}

.social-icon{
	padding-left: 10px;
	color: grey;
}

/*Termina footer*/


